body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

.logo {
	height:300px;
	margin-bottom: 20px; 
}

.viewButton {
	display: inline;
	margin-left: 132px;
}

.citeButton {
	display: inline;
	margin-left: 10px;
}

.pull-left {
	position: absolute;
}

.libraryColumn {
	width: 250px;
	height: 500px;
}

#logout {
	margin-left: 200px;
}

#buttonleft {
	margin-left: 200px;
}

#editor {
	position: absolute;
	width: 450px;
	height: 600px;
	float:left;
	margin-left: 120px;
}

.right {
	position: absolute;
	overflow: auto;
	margin-top: -10px;
	width: 450px;
	height: 600px;
	margin-left: 630px;
}

.conceal {
	display: none;
}

.searchColumn {
	position: absolute;
	width:250px;
	margin-left: 900px;
}

.ui-dialog-content {
	width:600px;
}

#btntxt1 {
	display: inline;
}

#btntxt2 {
	display: inline;
}

.searchResultList {
	height: 300px;
	overflow: auto;
}

#chatHistory {
	height: 100px;
	overflow: auto;
}