body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

.logo {
	height:300px;
	margin-bottom: 20px; 
}

#editor {
	width: 500px;
	height: 600px;
	float:left;
}

.right {
	overflow: auto;
	width: 500px;
	height: 600px;
	float: right;
}

.conceal {
	display: none;
}

.searchColumn {
	width:250px;
}

.ui-dialog-content {
	width:600px;
}