body {
	padding-top: 20px;
	padding-left: 50px;
	padding-right: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

.logo {
	height:300px;
	margin-bottom: 20px; 
}

.logo-navbar {
	height:70px;
	margin-bottom: 20px; 
}

.viewButton {
	display: inline;
	margin-left: 132px;
}

.citeButton {
	display: inline;
	margin-left: 10px;
}

.libraryColumn {
	background-color: #C0C0C0;
	position: absolute;
	width: 250px;
	height: 600px;
	top:92px;
	z-index: 99;
}

#logout {
	margin-left: 200px;
}

#buttonleft {
	margin-left: 200px;
}

#editor {
	width: 100%;
	height: 600px;
}

.right {
	width: 100%;
	height: 600px;
	overflow: auto;
	border: 1px solid black;
}

.conceal {
	display: none;
}

.searchBar {
	width:30%;
}

.searchColumn {
	background-color: #C0C0C0;
	position: absolute;
	width: 250px;
	height: 600px;
	top:92px;
	right:50px;
	z-index: 99;
}

#logoutButton {
	padding-left: 10px;
	margin-right: -10px;
}

.ui-dialog-content {
	width:600px;
}

.searchResultList {
	height: 300px;
	overflow: auto;
}

#chatDiv {
	position: absolute;
	z-index: 50;
	width: 300px;
	bottom:0;
	right: 0;
	margin-right: 50px;
	height: 200px;
	border: 1px solid black;
	background-color: #fafafa;
}

#chatHistory {
	height: 163px;
	overflow: auto;
}